---
Language: Cpp
BasedOnStyle: WebKit

ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
DerivePointerAlignment: false
PointerAlignment: Left
BreakStringLiterals: false
InsertBraces: true
SpaceInEmptyBraces: Never
SpaceInEmptyBlock: false
SpacesInParens: Never

AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true

AlignTrailingComments:
  Kind: Always
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseArrows: false
  AlignCaseColons: false
AlignOperands: Align

BreakBinaryOperations: OnePerLine
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 2

BreakAfterReturnType: ExceptShortType
PenaltyReturnTypeOnItsOwnLine: 1000

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: OnePerLine
BinPackArguments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
BreakInheritanceList: AfterColon

Cpp11BracedListStyle: FunctionCall
BreakTemplateDeclarations: Yes
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true

BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true

BreakBeforeConceptDeclarations: Always
...
