root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h,cc,cpp,cxx,hpp,hxx,rc,cs,py,lua,psc,as,ps1,psd1,psm1}]
indent_style = space
indent_size = 4

[*.{json,jsonc,json.example,yaml,yml,xml,csproj,props,targets,slnx}]
indent_style = space
indent_size = 2

[*.{md,md.jinja}]
trim_trailing_whitespace = false
